# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python package

on:
  push:
    branches: [ main ]

jobs:
  build:

    strategy:
      matrix:
        platform: [ubuntu-latest]
        python-version: ["3.10"]

    runs-on: ${{ matrix.platform }}

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        #if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
        pip install -r requirements.txt
        
    - name: Test with pytest
      run: |
        pytest test.py
     
    - name: Check docker installed or not
      run:
        docker run hello-world
        
    - name: Build and push Docker images
      uses: docker/build-push-action@v1
      with:
        username: ${{secrets.DOCKER_USERNAME}}
        password: ${{secrets.DOCKER_PASSWORD}}
        repository: mardeltux/python-devops
        tag_with_ref: true

    - name: Heroku Action
      # You may pin to the exact commit or the version.
      # uses: CDNievas/heroku-action@c9cf9c85571e67583e44ec92c0d1113f66b0e838
      uses: CDNievas/heroku-action@v1.0
      with:
        # Used for authentication. You can find it in your heroku homepage account settings
        heroku_api_key: ${{secrets.HEROKU_API_KEY}}
        # Email from Heroku Account
        heroku_email: mardeltux@gmail.com
        # The appname to use for deploying/updating
        heroku_app_name: python-devops-elcharly
        # The branch that you would like to deploy to Heroku
        branch: main # optional, default is HEAD
        # Set this to true if want to use --force
        useforce: # optional
        # Set if your app is located in a subdirectory.
        appdir: # optional, default is 
        # Contents of the Procfile to save and deploy
        procfile: # optional, default is 
        # Set to true if you need upload files generated dynamically by the GitHub Action to Heroku
        dynamicFiles: # optional
        # Buildpacks to install on Heroku
        buildpacks: # optional, default is 
        # Path to an localized env file
        env_file: # optional, default is 
      
